
/*CSS ABOUT/CONTACT PAGE*/

.contact-hero {
  height: 80vh;
  background-color:#A8CBED;
  background-size: cover;
  background-repeat:no-repeat;
  color: white;
  font-size: 60px;
  justify-content: center;
  margin-top:50px;
  margin-bottom: 20px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position:relative;

}

h1.contact-hero-title {
  font-size: 60px;
  color:white;
}

div.what-moves-us {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

h1.contact-hero-about {
  font-weight: bold;
  margin-bottom: 0px;
  color:black;
  margin-right: 20px;
  padding-bottom: 5px;
}

.logo-studios {
  height: 50px;
  width: 50px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.aboutimg {
  width: 100%;
  height: 100%;
}

h1.about-content {
  align-self: center;
  color:#D0CCD0;
  font-weight: bold;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1.about-content {
  color:#A8CBED;
}

p.about-content {
  color:#A8CBED;
  padding-bottom: 10px;
}

h2.contactform-section {
  color:#A8CBED;
  font-weight: bold;
  padding-left: 10px;
  text-align: center;
  font-size: 20px;
}

p.contact-section-title {
  color:#333;
  font-size: 20px;

}

.contact-hero-about {
  color:#A8CBED;
  padding-bottom: 40px;
}

.about-us {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  text-align: center;
  padding-top: 40px;
}


.what-moves-us {
  display: flex;
  justify-content: center;
  align-items: center;

}

.gallery {
  align-items: top;
}

/*.contact-form-background {
  background-color: #F9F9F9;
  width: 60%;
  height: 620px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}*/

.contact-content-form {
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #F9F9F9;
  width: 70%;
  height: 550px;
  color:#A8CBED;
  margin-bottom: 20px

}

.contact-form {
 box-sizing: border-box;
 display: block;
 font-size: 18px;
 font-weight: normal;
 line-height: 25.2px;
 margin-top: 0px;
 outline-color: rgb(0, 0, 0);
 outline-style: none;
 outline-width: 0px; 
 align-items: center;
 text-align: center;
 justify-content: center;
}

.field {
  padding-top: 10px;
}

.submit-button {
  height: 33.33%;
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

#submit {
  line-height: 50px;
  height: 50px;    
  text-align: center;
  width: 250px;
  cursor: pointer;
}

.btn-one {
    color: #A8CBED;
    transition: all 0.3s;
    position: relative;
}
.btn-one span {
    transition: all 0.3s;
}
.btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255,255,255,0.5);
    border-bottom-color: rgba(255,255,255,0.5);
    transform: scale(0.1, 1);
}
.btn-one:hover span {
    letter-spacing: 2px;
}
.btn-one:hover::before {
    opacity: 1; 
    transform: scale(1, 1); 
}
.btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(0, 0, 255, .1);
}
.btn-one:hover::after {
    opacity: 0; 
    transform: scale(0.1, 1);
}

.section {
  position: relative;
  width: 900px;
  max-width: 80%;
  border: 2px solid #333;
  border-top: none;
  text-align: center;
  margin: 60px auto;
}

.section h1 {
  position: relative;
  margin-top: -14px;
  display: inline-block;
  letter-spacing: 4px;
}

.section h2 {
  position: relative;
  margin-top: 10px;
  display: inline-block;
  letter-spacing: 4px;
}

.top-border{
  position: absolute;
  height: 2px;
  width: 24%;
  background-color: #333;
}

.right {
  right: 0;
}

.left {
  left: 0;
}

@media (max-width: 685px) {
.top-border {   
  width: 18%;
    }
}

.section p {
  width: 61%;
  margin: 20px auto 40px auto;
  line-height: 30px;
}

.section a {
  outline: 0;
  display: inline-block;
  padding: 20px;
  margin-bottom: 40px;
  width: 440px;
  max-width: 80%;
  background-color: #333;
  color: #fff;
  font-size: 22px;
  letter-spacing: 3px;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
}

.section a:hover {
  background-color: #1D222D;
}

.section a:link, .section a:visited, .section a:link:hover, .section a:visited:hover {
  text-decoration: none;
  color: #fff;
}

@media (max-width: 500px) {
  .top-border { 
    display: none;
  }
  .section {
  border-top: 2px solid #333;
  }
  .section h1 {
    margin: 20px 6px;
  }
}