
/*CSS ABOUT/CONTACT PAGE*/

.contact-hero {
  height: 80vh;
  background-color:#A8CBED;
  background-size: cover;
  background-repeat:no-repeat;
  color: white;
  font-size: 60px;
  justify-content: center;
  margin-top:50px;
  margin-bottom: 20px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position:relative;

}

h1.contact-hero-title {
  font-size: 60px;
  color:white;
}

div.what-moves-us {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

h1.contact-hero-about {
  font-weight: bold;
  margin-bottom: 0px;
  color:black;
  margin-right: 20px;
  padding-bottom: 5px;
}

.logo-studios {
  height: 50px;
  width: 50px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.aboutimg {
  width: 100%;
  height: 100%;
}

h1.about-content {
  align-self: center;
  color:#D0CCD0;
  font-weight: bold;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1.about-content {
  color:#A8CBED;
}

p.about-content {
  color:#81858E;
  padding-bottom: 10px;
}

h1.contactform-section {
  color:#A8CBED;
  font-weight: bold;
  padding-left: 10px;
  text-align: center;
}

p.contact-section-title {
  color:#A8CBED;
  font-size: 20px;

}

.contact-hero-about {
  color:#A8CBED;
  padding-bottom: 40px;
}

.about-us {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  text-align: center;
  padding-top: 40px;
}


.what-moves-us {
  display: flex;
  justify-content: center;
  align-items: center;

}

.gallery {
  align-items: top;
}

.contact-form-background {
  background-color: #D0CCD0;
  width: 60%;
  height: 620px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}

.contact-content-form {
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #F9F9F9;
  width: 70%;
  height: 550px;
  color:#A8CBED;

}

.contact-form {
 box-sizing: border-box;
 display: block;
 font-size: 18px;
 font-weight: normal;
 line-height: 25.2px;
 margin-top: 0px;
 outline-color: rgb(0, 0, 0);
 outline-style: none;
 outline-width: 0px; 
 align-items: center;
 text-align: center;
 justify-content: center;
}

.field {
  padding-top: 10px;
}