body {
  margin:0;
  background-color: #F9F9F9;
  font-family: inherit;
  width:100%;
  height: 100%;
}

.navbar {
  margin: 0 auto;
  background-color:#FFFFFF;
  height:70px;

}

.navbar-right {
  color: #FFFFFF;
  font-size: 15px;
  font-weight: normal;
  padding-top: 10px;
  padding-right: 5px;
}


.navbar-right:hover {
  font-color:#00171F;
}

.logo {
  height: 50px;
}

p.p-hero {
  color:white;
  font-size: 20px;
}

.lead {
  color: #79B1E5;
  text-align: center;
}

hr {
  color:black;
  line-height: 3px;
}


.hidden {
  opacity: 0;
}

#msg {
  background-color: rgba(0,0,0,0.7);
  padding: 100px 10px;
  position: relative;
  top: -370px;
  border-radius: 5px;
  opacity: 1;
}

.buttons {
  display: flex;
/*  margin-top: 50px;*/
}
.sunny-result, .rainy-result {
  font-size: 11px;
  height: 35px;
  width: 100%;
  align-self: flex-start;
  margin-left: 0;
  background-color: rgba(0,0,0,0.5);
  color:white;
}

.sunny-result:hover {
  background-color: white;
  color:#79B1E5;
}

.rainy-result:hover {
  background-color: white;
  color:#79B1E5;
}

.footer {
  height: 80px;
  background-color: #D0CCD0;
  display: flex;
}
