body {
  margin:0;
  background-color: #F9F9F9;
  font-family: inherit;
  width:100%;
  height: 100%;
}

.navbar {
  margin: 0 auto;
  background-color:#FFFFFF;
  height:70px;

}

.navbar-right {
  color: #FFFFFF;
  font-size: 15px;
  font-weight: normal;
  padding-top: 10px;
  padding-right: 5px;
}


.navbar-right:hover {
  font-color:#00171F;
}

.logo {
  height: 50px;
}

p.p-hero {
  color:white;
  font-size: 20px;
}

.lead {
  color: #79B1E5;
  text-align: center;
}

hr {
  color:black;
}

footer {
  display: block;

}
